@import url("https://fonts.googleapis.com/css2?family=Shizuru&display=swap");
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  border: 0;
  padding: 0;
  margin: 0;
  font-family: system-ui, Arial, sans-serif;
  background-color: inherit;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
button {
  cursor: pointer;
}
#root {
  overflow: hidden;
  $ourpurple: rgb(212, 152, 232);
  $ourblue: rgba(9, 9, 121, 1);
  $cuteblue: rgb(29, 69, 102);
  height: 100dvh;
  display: flex;
  flex-direction: column;
  background: $ourblue;
  background: linear-gradient(0deg, $ourpurple 0%, $ourblue 100%);
  .main_menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    img {
      $size: min(60dvw, 300px);
      width: $size;
      height: $size;
      position: absolute;
      top: calc(50% - 250px);
      filter: drop-shadow(7px 7px 0px black);
    }
    button {
      background: rgb(116, 118, 230);
      color: white;
      padding: 20px 30px;
      font-size: large;
      border-radius: 10px;
      text-transform: uppercase;
    }
  }
  .game_over_backdrop {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: grid;
    place-items: center;
    .game_over {
      width: min(90dvw, 500px);
      height: 500px;
      background-color: $cuteblue;
      border: 1px solid white;
      outline: 1px solid white;
      outline-offset: -10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;
      word-wrap: break-word;
      p:nth-child(1) {
        font-family: Shizuru;
        font-size: 2.5em;
        word-spacing: -25px;
        margin-bottom: 20px;
        background-color: transparent;
      }
      p {
        margin-bottom: 10px;
      }
      button {
        margin-top: 20px;
        color: white;
        border: 1px solid white;
        padding: 10px 20px;
        border-radius: 5px;
      }
    }
  }
  .game {
    header {
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      gap: 10px;
      span {
        border: 1px solid;
        color: white;
        background-color: $cuteblue;
        padding: 10px;
        display: grid;
        place-items: center;
        width: min(45vw, 200px);
      }
    }
    .images_container {
      overflow: hidden;
      max-height: calc(100dvh - 60px);
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;
      padding: 10px;
      padding-top: 60px;
      width: min(90%, 1000px);
      img {
        $size: min(200px, 35dvw);
        width: $size;
        height: $size;
        border-radius: 10px;
        -webkit-user-drag: none;
        -ms-user-drag: none;
        -moz-user-drag: none;
        cursor: pointer;
        border: 1px solid $ourpurple;
        padding: 20px;
        background-color: purple;
      }
    }
  }
  .attribution {
    position: absolute;
    bottom: 15px;
    left: 0;
    text-align: center;
    width: 100%;
    color: white;
    text-decoration: underline;
  }
}
@keyframes load {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
